<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Life Game</title>
        <link rel="stylesheet" href="node_modules\bootstrap\dist\css\bootstrap.min.css">
    </head>
    <body>
        <div id="app">
            <div class="container">
                <div class="row" v-for='(r, i) in cells'>
                    <div v-for='(e, j) in r'>
                        <img v-if='e==1' src="imgs\black.png" v-on:click="change(i,j)">
                        <img v-else src='imgs\white.png' v-on:click="change(i,j)">
                    </div>
                </div>
            </div>
        </div>
        <!--button type="button" name="button" v-on:click='stop_interval()'>Stop</button>
        <button type="button" name="button" v-on:click='start_interval()'>Start</button-->
    </body>
    <script src="node_modules\jquery\dist\jquery.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="node_modules\bootstrap\dist\js\bootstrap.min.js"></script>
    <script src="node_modules\vue\dist\vue.min.js" charset="utf-8"></script>
    <script src="js\app.js" charset="utf-8"></script>
</html>
